In [2]:
import os
import pandas as pd

In [10]:
pwd

'C:\\Users\\502755426\\Pictures\\py-master\\py-master\\pandas\\4_read_write_to_excel'

In [9]:
os.chdir('4_read_write_to_excel')

In [27]:
df = pd.read_csv('stock_data.csv', header=None, names=['ticker', 'eps', 'revenue', 'price', 'people'], na_values=['not available', 'n.a.'])

In [30]:
df

  ticker    eps  revenue price         people
0  GOOGL  27.82     87.0   845     larry page
1    WMT   4.61    484.0    65            NaN
2   MSFT  -1.00     85.0    64     bill gates
3   RIL     NaN     50.0  1023  mukesh ambani
4   TATA   5.60      NaN  n.a.     ratan tata

For the "pd.read_xxx" function, the na_values can take a list, but it can also take a dictionarydf = pd.read_csv('stock_data.csv', header=None, names=['ticker', 'eps', 'revenue', 'price', 'people'], na_values=['not available', 'n.a.'])

In [29]:
df = pd.read_csv('stock_data.csv', header=None, 
                 names=['ticker', 'eps', 'revenue', 'price', 'people'], 
                 na_values={
                     'eps':['not available', 'n.a.'],
                 'revenue':['not available', 'n.a.', '-1'],
                 'people': ['not available', 'n.a.']})

In [ ]:
df.to_csv('new.csv', columns=['tickers', 'eps'], index=False)

In [ ]:
#Converters

def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell
df = pd.read_excel('stock_data.xlsx', 'Sheet1', converters={
    'people': convert_people_cell,
    'eps': convert_eps_cell})

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
                   df_stocks.to_excel(writer, sheet_name='stocks')
                    df_weather.to_excel(writer, sheet_name='weather'